<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>   
  <nav class="nav"></nav>
  <ul>
    <li><a  href="/">Home</a></li>
    <li><a href="/cuisines">Cuisine</a></li>
    <li><a href="/showAll/recipes">Recipes</a></li>
    <% if (user) { %>
    <li><a href="/new">Add Recipes</a></li>
    <li><a href="/allreviews">all Reviews</a></li>
    <li style="float:right"><a href="/logout">LOG OUT</a></li>
    <% } else { %>
    
    
    <li style="float:right">  <a href="/auth/google" class="login">LOG IN&nbsp;</a></li>
    <% } %>
  </ul>
 
  </nav>
</body>
</html>

