<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 
  
    <nav> 
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cuisines">Cuisine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/showAll/recipes">Recipes</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/new">Add Recipes</a>
        </li>
      
        <!-- <li class="nav-item">
          <a class="nav-link" href="/allreviews">all Reviews</a>
        </li> -->

      </ul>
     </div>
    
      
        
  <nav>
    
  <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>

    <a href="/logout" class="login">LOG OUT  &nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <nav>
 </div>
        </nav>
      </nav>
    </nav>
    <h1>Recipes-Book</h1>
  </head>
  <body>
