<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cuisine">Cuisine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipes">Recipes</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/new">Add Recipes</a>
        </li>
      
      </ul>

      <nav>
       
        <nav>
         

  <a href="/logout">LOG OUT</a>

  <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>

        </nav>
      </nav>
    </nav>
  </head>
  <body>
