<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='../../public/stylesheets/style.css' />
</head>
<<<<<<< HEAD
<body>   
<div id="headerbackground">
<nav class="nav">
  <h1>Recipe Book</h1>
  <div class="links">
    <a href="/">Home</a>
    <a href="/cuisines">Cuisine</a>
    <a href="/showAll/recipes">Recipes</a>
    <a href="/new">Add Recipes</a>
    <a href="/allreviews">all Reviews</a>
  </div>
  <div class="login">
    <button type="submit">
      <a href="/logout">LOG OUT&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    </button>
    <button type="submit">
      <a href="/auth/google">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    </button>
  </div>
</nav>
</div>
=======
  <nav class="nav">
        <a  href="/">Home</a>
        <a href="/cuisines">Cuisine</a>
        <a href="/showAll/recipes">Recipes</a>
      
        <a href="/new">Add Recipes</a>
    
        <a href="/reviews/allreviews">all Reviews</a>

        <a href="/logout">LOG OUT</a>
    
    <div class="login">
      <a href="/auth/google" >LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    </div> 

      </nav>
      <body>   


>>>>>>> 98e9c8ce3cc01164bfcfd310d999f4e2b2228fc8
</body>
</html>
