<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
  <nav class="nav">
        <a  href="/">Home</a>
        <a href="/cuisines">Cuisine</a>
        <a href="/showAll/recipes">Recipes</a>
      
        <a href="/new">Add Recipes</a>
    
        <a href="/reviews/allreviews">all Reviews</a>

        <a href="/logout">LOG OUT</a>
    
    <div class="login">
      <a href="/auth/google" >LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    </div> 

      </nav>
      <body>   


</body>
</html>