<%- include('../partials/header') %>
<div class="center">

<h1>Recipes</h1>
<% allRecipes.forEach((c) =>{%>

<a href="/recipes/<%=c._id%>">  <p><%=c.Dish%></p>
</a>
<%})%>
</div>
<%- include('../partials/footer') %>