<%- include('../partials/header') %>
<div class="center">
  <div class="recipes-page">
<h1>Recipes</h1>

<% allRecipes.forEach((c) =>{%>

<a id="cuisine-recipes" href="/recipes/<%=c._id%>">  <p><%=c.Dish%></p>
</a>
<%})%>
</div>
</div>
<%- include('../partials/footer') %>

