<%- include('../partials/header') %>

 <table id="list">
  <thead>
    <tr>
      <th>recipes name</th>
      <th>type of recipes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(function(m) { %>
      <tr>
        <td><%= m.type of recipes %></td>
        <td><%= m.type of recipes %></td>
        <td><a href="/recipe-book/ m._id %>">view the recipes</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table> 
  <h1>Hi</h1>
<%- include('../partials/footer') %>
