<%- include('../partials/header') %>

<h1>Cuisines</h1>

<% allCusines.forEach((c) =>{%>

  <p><%=c.cuisine%></p>
  <a href="/recipe/<%=c._id%>">show detail</a>
  <%})%>
<%- include('../partials/footer') %>