<%- include('../partials/header') %>
<div class="center">
  <div class="cuisine-page">
<h1 >Cuisines</h1>

<% filteredRecipes.forEach((c) =>{%>
  <a id="cuisine" href="/recipe/<%=c.id%>">  <p><%=c.cuisine%></p></a>
  <%})%>
</div>
</div>
<%- include('../partials/footer') %>
