<%- include('../partials/header') %>
<div class="center">
<h1>Cuisines</h1>

<% filteredRecipes.forEach((c) =>{%>

  <a href="/recipe/<%=c.id%>">  <p><%=c.cuisine%></p>
  </a>
  <%})%>
</div>
<%- include('../partials/footer') %>
