<form action="/update/<%=getReview._id%>/review?_method=PUT" method="POST">

<label>Heading:</label>
<input type="text" name="heading">
<label>Detail</label>
<input type="text" name="detail">
<label>rate</label>
<input type="number" name="ratee">

<input type="submit">
</form>