<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= message %></h1>
    <p>This is the welcome page for our website.</p>
    <p>Here you can find information about our products and services.</p>
  </body>
</html>