<%- include('../partials/header') %>
<div class="center">
    <h1>Add Recipes</h1>

<<<<<<< HEAD
=======
<form id="new-form" action="/recipes/addRecipe" method="POST">
<label>cuisine:</label><br>
<input type="text" name="cuisine"><br>
<label>Dish</label><br>
<input type="text" name="Dish"><br>
<label>Time</label><br>
<input type="number" name="Time"><br>
<label>Enter the Ingredents separate them by , </label><br>
<textarea id="recipe-ingredients" name="Ingredients" rows="5" required></textarea><br>
<label>Enter the Steps separate them by ,</label><br>
<textarea id="recipe-steps" rows="5" name="Steps" required></textarea><br>

>>>>>>> 4c2cbc8b8f844e1f798070eda54215173fcccb85

<div id="form-div">
<form id="new-form" action="/recipes/addRecipe" method="POST">
    <div class="form-group">
        <label for="cuisine">Cuisine:</label>
        <input type="text" id="cuisine" name="cuisine">
    </div>
    <div class="form-group">
        <label for="dish">Dish:</label>
        <input type="text" id="dish" name="Dish">
    </div>
    <div class="form-group">
        <label for="time">Time:</label>
        <input type="number" id="time" name="Time">
    </div>
    <div class="form-group">
        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="Ingredents">
    </div>
    <div class="form-group">
        <label for="steps">Steps:</label>
        <input type="text" id="steps" name="Steps">
    </div>
  
        <input type="submit" value="Add Recipe" class="login">
    
</form>
</div>
<<<<<<< HEAD

=======
>>>>>>> 4c2cbc8b8f844e1f798070eda54215173fcccb85
<%- include('../partials/footer') %>
