<%- include('../partials/header') %>
<div class="center">
    <h1>Add Recipes</h1>

<form id="new-form" action="/recipes/addRecipe" method="POST">
<label>cuisine:</label><br>
<input type="text" name="cuisine"><br>
<label>Dish</label><br>
<input type="text" name="Dish"><br>
<label>Time</label><br>
<input type="number" name="Time"><br>
<label>Enter the Ingredents separate them by , </label><br>
<textarea id="recipe-ingredients" name="Ingredients" rows="5" required></textarea><br>
<label>Enter the Steps separate them by ,</label><br>
<textarea id="recipe-steps" rows="5" name="Steps" required></textarea><br>


<input type="submit" value="Add Recipe">
</form>
</div>
<%- include('../partials/footer') %>