<%- include('../partials/header') %>
<div class="center">
    <h1 id="recipes">Add Recipes</h1>

<form id="new-form" action="/recipes/addRecipe" method="POST">

<label>Cuisine</label><br>
<input id="new-recipes" type="text" name="cuisine"><br><br>

<label>Dish</label><br>
<input id="new-recipes" type="text" name="Dish"><br><br>

<label>Time</label><br>
<input id="new-recipes" type="time" name="Time"><br><br>


<label>Enter the Ingredents separate them by comma <strong>" , "</strong></label><br>
<textarea id="recipe-ingredients" name="Ingredients" rows="5" required></textarea><br><br>


<label>Enter the Steps separate them by comma <strong>" , "</strong></label><br>
<textarea id="recipe-steps" rows="5" name="Steps" required></textarea><br><br>


<input class="button" type="submit" value="Add Recipe">
</form>
</div>
<%- include('../partials/footer') %>
