<%- include('../partials/header') %>

<form id="new-form" action="/recipes/addRecipe" method="POST">
<label>cuisine:</label>
<input type="text" name="cuisine">
<label>Dish</label>
<input type="text" name="Dish">
<label>Time</label>
<input type="number" name="Time">
<label>Ingredents</label>
<input type="text" name="Ingredents">
<label>Steps</label>
<input type="text" name="Steps">

<input type="submit" value="Add Recipe">
</form>

<%- include('../partials/footer') %>
