<%- include('./partials/header')%>
<div class="homepage">
  <h1>Recipe Book</h1>
  <p>Explore the world of flavors Delectable recipes from every corner of the globe</p>
</div>



<%- include('./partials/footer')%>