<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/recipe-book/public/stylesheets/style.css' />
  <title>index page</title>
</head>
<body>
  <header>
    <%- include('./partials/header')%>
  </header>

  <div class="content">
    <div class="split left">
      <div class="centered">
        <h2>Recipe guide</h2>
        <p>Welcome to our Recipe Guide! Discover delicious recipes and step-by-step instructions to elevate your cooking. Start your culinary journey today!</p>
      </div>
    </div>
    <div class="split right">
      <div class="centered">
        <div id="home_img">
        <img src="img/images (8).jpg" alt="Recipe">
      </div>
      </div>
    </div>
  </div>

  <footer>
    <%- include('./partials/footer')%>
  </footer>
</body>
</html>
