
<%- include('./partials/header')%>


    <div class="img">
<div class="title">  

  <h1>Recipe Book</h1></div>
  <div class="homepage">
  <p>Explore the world of flavors Delectable recipes from every corner of the globe</p>

</div>
</div>

<div class="box">
  <h1>Our story</h1></div>
        <div class="homepage1">
        <p>We have combined our love for food and coding, so we decided to bring them together by creating a website for recipes from around the world!</p>
</div>


    <%- include('./partials/footer')%>


