<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>
<body>   

<%- include('./partials/header')%>
<!-- <div class="homeimg">
  <img src="img/img5.jpeg" alt="homeimg"></div>

-->
<div class="container">
  <div class="img">
    <div class="title">  
      <h1>Recipe Guide</h1>
    </div>
    <div class="homepage">
      <p>Explore the world of flavors Delectable recipes from every corner of the globe</p>
    </div>
  </div>

  <div class="box">
    <div class="homepage1">
      <p>Welcome to our Recipe Guide! Discover delicious recipes and step-by-step instructions to elevate your cooking. Start your culinary journey today!</p>
    </div>
  </div>
</div>

<footer>
  <%- include('./partials/footer')%>
</footer>

</body>
</html>
