* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
}
/* .login {
  display: flex;
  justify-content: flex-end;
}

.login img {
  height: 15px;
} */

/* .nav {
  background-color: #ffe39c83;
  display: flex;
  justify-content: space-between;
  align-items: center; */
/* padding: 0 20px 0 20px; */
/* height: 10vh;
} */
/* .homepage {
  display: grid;
  justify-content: center;
}
.title {
  display: grid;
  justify-content: center;
}
.box {
  border: 0.5vh solid #fcd97f83;
  display: grid;
  justify-content: center;
} */
.img {
  background-image: url(../img/img5.png);
  background-image: no-repeat;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b1d42;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #444892;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1b1d42;
  color: #ffffff;
  text-align: center;
}
