* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  background-image: url(../img/img5.png);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(27, 29, 66);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(253, 244, 237);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(68, 72, 146);
}
.center {
  display: grid;
  justify-content: center;
  font-size: 20px;
  text-shadow: 2px 2px 10px;
  color: rgb(27, 29, 66);
}
.title,
.allreviews {
  display: flexbox;
  text-align: center;
  background-color: rgb(253, 244, 237, 0.8);
  color: rgb(27, 29, 66);
  margin-top: 200px;
  font-size: 20px;
  text-shadow: 2px 2px 10px;
}

.homepage1 {
  display: flexbox;
  text-align: center;
  background-color: rgb(253, 244, 237, 0.8);
  color: rgb(27, 29, 66);
  margin-top: 200px;
  font-size: 20px;
  text-shadow: 2px 2px 10px;
}
.recipes {
  display: grid;
  justify-content: center;
}

#recipes {
  display: grid;
  justify-content: center;
  background-color: rgb(253, 244, 237, 0.5);
  color: rgb(27, 29, 66);
  margin-top: -150px;
  font-size: 40px;
  text-shadow: 2px 2px 10px;
}
#new-form {
  text-align: center;
  background-color: rgb(253, 244, 237, 0.8);
  color: #1b1d42;
  font-size: 22px;
  margin-top: -200px;
  text-shadow: 2px 2px 10px;
}
#new-recipes,
#time {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid rgb(27, 29, 66);
  background-color: rgb(253, 244, 237, 0.8);
  border-radius: 4px;
}
#recipe-ingredients,
#recipe-steps {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(27, 29, 66);
  border-radius: 4px;
  background-color: rgb(253, 244, 237, 0.8);
  font-size: 16px;
}

.cuisine-page,
.recipes-page,
.recipes-all,
#review-box {
  display: flexbox;
  text-align: center;
  color: rgb(27, 29, 66);
  margin-top: -100px;
  font-size: 20px;
  text-shadow: 2px 2px 10px;
}

#cuisine:link,
#cuisine:visited,
#cuisine-recipes:link,
#cuisine-recipes:visited,
#recipes-all:link,
#recipes-all:visited {
  background-color: rgb(253, 244, 237, 0.9);
  color: rgb(27, 29, 66);
  border: 2px solid rgb(27, 29, 66);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#cuisine:hover,
#cuisine:active,
#cuisine-recipes:hover,
#cuisine-recipes:active,
#recipes-all:hover,
#recipes-all:active {
  background-color: rgb(68, 72, 146);
  color: rgb(253, 244, 237);
}
.button {
  background-color: rgb(27, 29, 66);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  font-size: 16px;
}
.button:hover:not(.active) {
  background-color: rgb(68, 72, 146);
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 5%;
  top: 5%;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  text-align: center;
  left: 0;
  background-color: rgb(253, 244, 237, 0.8);
}

/* Control the right side */
.right {
  text-align: center;
  right: 0;
  background-color: rgb(253, 244, 237, 0.8);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(27, 29, 66);
  color: rgb(253, 244, 237);
  text-align: center;
}
